<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>INNOVATE - A Modern Single Page Scrolling Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS  -->
    <link href="js/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="js/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,200,100|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="js/assets/lightbox/css/lightbox.css" rel="stylesheet">
    <link href="js/assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="css/innovate-fixed.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fixed-width" data-offset="50" data-spy="scroll" data-target="#nav">

<div id="slider">
    <div class="cycle-slideshow" data-cycle-fx="fadeout" data-cycle-pause-on-hover=false data-cycle-overlay-template="<span class=title>{{title}}<span>">
        <div class="cycle-overlay"></div>
        <img src="http://placehold.it/1000x550" data-cycle-title="STAND OUT." alt="Example Image">
        <img src="http://placehold.it/1000x550" data-cycle-title="BE INNOVATIVE." alt="Example Image">
        <div id="progress"></div>
    </div>

</div>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://bit.ly/1c1dY8i">
                    <h1 class="logo">INN<i class="fa fa-dot-circle-o"></i>VATE</h1>
                </a>
                <a class="nav-toggle"><i class="fa fa-bars"></i></a>
                <nav id="nav">
                    <ul class="nav">
                        <li><a href="#slider">HOME</a></li>
                        <li><a href="#features">FEATURES</a></li>
                        <li><a href="#about">ABOUT</a></li>
                        <li><a href="#gallery">GALLERY</a></li>
                        <li><a href="#clients">CLIENTS</a></li>
                        <li><a href="#blog">BLOG</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                        <li>    
                            <a class="btn btn-sm btn-primary" id="drop" role="button" data-toggle="dropdown" href="#">PAGES</a>
                              <ul id="dd-menu" class="dropdown-menu right" role="menu">
                                <li>
                                    <a href="./"><i class="fa fa-dot-circle-o"></i> Index</a>
                                </li>
                                <li>
                                    <a href="fixed.html"><i class="fa fa-arrows-h"></i> Fixed</a>
                                </li>
                                <li>
                                    <a href="blog.html"><i class="fa fa-list-alt"></i> Blog</a>
                                </li>
                                <li>
                                    <a href="post.html"><i class="fa fa-file-o"></i> Post</a>
                                </li>

                                <!-- COMING SOON -->
                                <!-- 
                                <li>
                                    <a href="#"><i class="fa fa-power-off"></i> Login</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-code"></i> Elements</a>
                                </li> -->
                              </ul>
                        </li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</header>

<section id="bar" class="wrap pattern">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>RENEW. CHANGE. CREATE. </h2>
                <p class="details">I built this theme to help you create a solid online preference. It's easy to customize and has a ton of featuers. <br>Are you ready? Connect with us!</p>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>

<section id="features" class="wrap plain">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>FEATURES</h2>
                <p class="details">Unde laudantium earum harum nobis aliquam nesciunt accusantium.</p>
                <br>
                <div class="row">
                    <a href="#" class="feature">
                        <div class="col-xs-4" data-scrollreveal="enter from the bottom over 1.1s after 0.1s">
                            <div class="i-overlay">
                                <i class="fa fa-keyboard-o"></i>
                            </div>
                            <h3>CLEAN CODE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, incidunt, cum suscipit ducimus animi odio aliquid voluptatum obcaecati et aspernatur.</p>
                        </div>
                    </a>
                    <a href="#" class="feature">
                        <div class="col-xs-4" data-scrollreveal="enter from the bottom over 1.1s after 0.3s">
                            <div class="i-overlay">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <h3>CREATIVE DESIGN</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, incidunt, cum suscipit ducimus animi odio aliquid voluptatum obcaecati et aspernatur.</p>
                        </div>
                    </a>
                    <a href="#" class="feature">
                        <div class="col-xs-4" data-scrollreveal="enter from the bottom over 1.1s after 0.5s">
                            <div class="i-overlay">
                                <i class="fa fa-heart-o"></i>
                            </div>
                            <h3>BUILT <span>with</span> LOVE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, incidunt, cum suscipit ducimus animi odio aliquid voluptatum obcaecati et aspernatur.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</section>

<section id="about" class="wrap light">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>TEAM</h2>
                <p class="details">We want to help the world be a better place by helping one person at a time.</p>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-2 about-item" data-scrollreveal="enter from the left over 1.1s after 0.2s">
                        <div class="overlay">
                            <img src="http://placehold.it/265x265" alt="Example Image">
                            <a href="#">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay"><i class="fa fa-cloud-download"></i> Resume</span>
                                </div>
                            </a>
                        </div>
                        <br>
                        <h3>RACHEL McADAMS</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                        <p class="social">
                            <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a>
                        </p>
                    </div>
                    <div class="col-xs-3 col-xs-offset-2" data-scrollreveal="enter from the right over 1.1s after 0.4s">
                        <div class="overlay">
                            <img src="http://placehold.it/265x265" alt="Example Image">
                            <a href="#">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay"><i class="fa fa-envelope"></i> Email</span>
                                </div>

                            </a>
                        </div>
                        <br>
                        <h3>JUSTIN CASE</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                        <p class="social">
                            <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery" class="wrap dark">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>GALLERY</h2>
                <p class="details">Hover actions have two variations. Pick the one that suits you project best.</p>

                <div id="items" class="row">
                    <div class="col-xs-3" data-scrollreveal="enter from the bottom over 1.1s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board sm">
                                    <i class="fa fa-arrows-alt"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the top over 1.1s after 0.2s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board sm">
                                    <i class="fa fa-search"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the bottom over 1.1s after 0.4s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board sm">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the top over 1.1s after 0.6s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board sm">
                                    <i class="fa fa-comment"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-3" data-scrollreveal="enter from the bottom over 1.1s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay icon-only"><i class="fa fa-arrows-alt"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the top over 1.1s after 0.2s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay icon-only"><i class="fa fa-search"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the bottom over 1.1s after 0.4s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay icon-only"><i class="fa fa-thumbs-up"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3" data-scrollreveal="enter from the top over 1.1s after 0.6s">
                         <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="http://placehold.it/500x325" data-lightbox="example-set">
                                <div class="overlay-board">
                                    <span class="btn btn-overlay icon-only"><i class="fa fa-comment"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="clients" class="wrap parallax"  data-0="background-position:0px 100px;" data-end="background-position:0px -550px;">
    <div class="static-overlay"></div>
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2>CLIENTS</h2>
                <p class="details">Here are some of our satisfied clients from over our many years in business.</p>
                <div class="client-list">
                    <i data-toggle="tooltip" title="Dribbble" class="fa fa-dribbble"></i>
                    <i data-toggle="tooltip" title="Xing"  class="fa fa-xing"></i>
                    <i data-toggle="tooltip" title="Linux"  class="fa fa-linux"></i>
                    <i data-toggle="tooltip" title="Stack Overflow"  class="fa fa-stack-overflow"></i>
                    <i data-toggle="tooltip" title="Weibo"  class="fa fa-weibo"></i>
                    <i data-toggle="tooltip" title="MaxCDN"  class="fa fa-maxcdn"></i>
                    <i data-toggle="tooltip" title="ADN"  class="fa fa-adn"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="wrap plain">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>BLOG</h2>
                <p class="details">You can easily place any Font Awesome Font in the hover action.</p>
                
                <div id="carousel-fixed-2" class="owl-carousel">
                    <div class="col-xs-12">
                        <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="post.html">
                                <div class="overlay-board">
                                    <i class="fa fa-search"></i>
                                </div>
                            </a>
                        </div>
                        <h3>Join Our Creative Workshops</h3>
                        <p class="date">Feb. 21, 2013</p>
                    </div>
                    <div class="col-xs-12">
                        <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="post.html">
                                <div class="overlay-board">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                            </a>
                        </div>
                        <h3>Hack-a-thon Tips &amp; Tricks</h3>
                        <p class="date">Feb. 2, 2013</p>
                    </div>
                    <div class="col-xs-12">
                        <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="post.html">
                                <div class="overlay-board">
                                    <i class="fa fa-lightbulb-o"></i>
                                </div>
                            </a>
                        </div>
                        <h3>The Keys to Oranization</h3>
                        <p class="date">Feb. 21, 2013</p>
                    </div>
                    <div class="col-xs-12">
                        <div class="overlay">
                            <img src="http://placehold.it/500x325" alt="Example Image">
                            <a href="post.html">
                                <div class="overlay-board">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                            </a>
                        </div>
                        <h3>New Tech. Old Tech.</h3>
                        <p class="date">Feb. 2, 2013</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section id="contact" class="wrap pattern">
    <div class="container pad">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="logo" data-scrollreveal="enter from the bottom over 1.1s after 0.2s">INN<i class="fa fa-dot-circle-o"></i>VATE</h2>
                <p class="details">We'd love to work with you. Contact us by phone, email, or whatever social site we have.</p>
                
                <div class="contact-details">
                    <ul>
                        <li>123 Your St., City State Country</li>
                        <li>(800) 555-5555</li>
                        <li><a href="mailto:info@innovate.com" target="_blank">info@innovate.com</a></li>
                    </ul>

                    <br>
                    <br>

                    <h3>Contact Us</h3>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <form action="#" role="form" id="form">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" placeholder="Name" name="name" id="name">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <textarea class="form-control" name="comments" id="comments" rows="3" placeholder="Comments"></textarea>
                                    </div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-xs-4 col-xs-offset-4">
                                        <input class="btn btn-lg btn-success btn-block btn-form" type="submit" value="SEND">
                                    </div>
                                </div>
                            </form>   
                        </div>
                    </div>

                </div>

    
            </div>
        </div>
    </div>
</section>

<section id="map">
    <div id="gmap"></div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a> 
                    &nbsp;| &nbsp;
                    <a href="#">support@giovannifilippi.com</a>
                </p>
            </div>
            <div class="col-xs-6">
                <p class="byline"><span>Built with</span> <i class="fa fa-heart"></i> <a href="http://bit.ly/1c1dY8i">GIOVANNI_DESIGN</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Libs -->
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.7"></script>
<script src="js/assets/jquery-1.11.0.min.js"></script>
<script src="js/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="js/assets/scroll-reveal/js/scrollReveal.js"></script>
<script src="js/assets/owl-carousel/owl.carousel.min.js"></script>
<script src="js/assets/retina.min.js"></script>
<script src="js/assets/cycle2.min.js"></script>
<script src="js/assets/lightbox/js/lightbox-2.6.min.js"></script>
<script src="js/assets/placeholder.js"></script>
<script src="js/assets/maplace.min.js"></script>
<script src="js/assets/sticky.js"></script>
<script src="js/assets/skrollr.min.js"></script>
<script src="js/assets/validate.min.js"></script>

<!-- Theme Scripts -->
<script src="js/innovate.min.js"></script>

<!-- Your Custom JS -->
<script src="js/custom.js"></script>

</body>
</html>
